@using WebApplication3.Models
@model ttcn_btlEntities
@{
    
}

<h2>@ViewBag.Title</h2>
<h3>So luong phieu nhap: @Model.CTPNHAPs.Count()</h3>
<table style="border: 1px solid; padding: 15px; text-align: left; ">
    <tr>
        <th>So phieu</th>
        <th>SL nhap</th>
        <th>Ten thuoc</th>
    </tr>
    @foreach (var phieu in Model.CTPNHAPs)
    {
        <tr>
            <td>@phieu.sophieu</td>

            <td>@phieu.slnhap</td>

            <td>@phieu.THUOC.tenthuoc</td>
        </tr>
    }
</table>

